menu "EC20 Configuration"
    
    config EC20_ENABLE_GPS
        bool "Enable GPS?"
        default false
        help
            Set true to enable GPS
    
    config EC20_ENABLE_MQTT
        bool "Enable MQTT?"
        default false
        help
            Set true to enable MQTT telemetry
endmenu
